.resume-main-container {
  width: 80%;
  margin: 50px auto;
}

.resume-main-container h2 {
  font-size: 35px;
  font-weight: 700;
  color: #105652;
}

.resume-main-container .underline {
  height: 5px;
  background-color: #fca738;
  width: 11%;
  margin-top: -20px;
  margin-bottom: 30px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.resume-container {
  display: flex;
  justify-content: space-between;
}

.info-resume-container {
  flex-basis: 70%;
  margin-right: 20px;
  color: #105652;
  text-align: left;
}

.img-resume-container {
  flex-basis: 30%;
}

.img-resume-container img {
  width: 380px;
  background: #fff;
  border-radius: 10px;
}

.img-resume-container .social-links {
  margin-top: 10px;
  display: flex;
  padding: 20px 0;
  justify-content: space-evenly;
  background-color: #fff;
  border-radius: 10px;
  font-size: 30px;
}

.work-ex p,
.education p {
  margin-top: -10px;
}

.work-ex span,
.education span {
  background-color: #fca738;
  color: #fff;
  border-radius: 15px;
  padding: 4px 8px;
  font-size: 14px;
}

.work-ex,
.education {
  position: relative;
}

.work-ex .work-ex-info,
.education .education-info {
  margin-left: 18px;
}

.work-ex .work-ex-info .flex:before {
  content: "";
  background-color: #09bcab;
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 100px;
  z-index: 1;
  width: 2px;
  height: 40%;
}

.education .education-info .flex:before {
  content: "";
  background-color: #09bcab;
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 100px;
  z-index: 0;
  width: 2px;
  height: 70%;
}

.work-ex .work-ex-info h4:before,
.education .education-info h4:before {
  content: "";
  background-color: #09bcab;
  position: absolute;
  display: inline-block;
  left: -6.5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  z-index: 1;
}

@media screen and (max-width: 800px) {
  .resume-main-container {
    width: 100%;
  }

  .resume-main-container .underline {
    width: 38%;
  }

  .resume-container {
    flex-direction: column;
  }

  .info-resume-container {
    flex-basis: 100%;
    margin-right: 0px;
    padding: 0 40px;
  }

  .img-resume-container {
    flex-basis: 100%;
  }

  .img-resume-container img {
    margin-top: 25px;
    width: 280px;
  }

  .work-ex span,
  .education span {
    font-size: 12px;
  }

  .img-resume-container {
    margin: 0 40px;
  }

  .flex {
    flex-direction: column;
  }

  .align-items {
    align-items: flex-start;
  }
}
