.about-container {
  display: flex;
  width: 80%;
  margin: 50px auto;
  border-radius: 20px;
  box-shadow: 0 0 60px #10565221;
}

.img-about-conatiner {
  flex-basis: 50%;
}

.img-about-conatiner img {
  width: 400px;
  margin: 50px;
}

.info-about-conatiner {
  color: #105652;
  margin: 10px 20px;
  padding: 20px;
  text-align: left;
  flex-basis: 50%;
  box-sizing: border-box;
}

.info-about-conatiner h2 {
  font-size: 35px;
  font-weight: 700;
}

.underline {
  height: 5px;
  background-color: #fca738;
  width: 31%;
  margin-top: -20px;
  margin-bottom: 30px;
}

.tech-logos {
  padding: 1px 10px;
  border-radius: 20px;
  box-shadow: 0 0 30px #00000029;
  margin: 50px 0 25px 0;
}

.tech-logos h5 {
  font-weight: 600;
}

.tech-logos h5::after {
  height: 2px;
  background-color: #105652;
  width: 50px;
  z-index: 5;
}

.tech-logos-flex {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-around;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.tech-logos img {
  height: 50px;
  width: 50px;
}

@media screen and (max-width: 600px) {
  .about-container {
    flex-direction: column-reverse;
    width: 100%;
    border-radius: 0px;
  }

  .info-about-conatiner h2 {
    text-align: center;
  }

  .underline {
    width: 60%;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .img-about-conatiner img {
    width: 280px;
    margin: 25px;
  }

  .tech-logos img {
    height: 38px;
    width: 38px;
  }
}
