.home-container {
  display: flex;
  background-color: #105652;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}

.info-home-container {
  /* margin: 15% 0 0 10%; */
  box-sizing: border-box;
  text-align: left;
  margin-left: 10%;
}

.info-home-container h1 {
  font-size: 2rem;
  color: #fca738;
  font-weight: 400;
}

.info-home-container h1 span {
  color: #fbf3e4;
  font-weight: 700;
}

.info-home-container p {
  color: #fbf3e4;
}

.flex-buttons {
  margin-top: 30px;
}

.flex-buttons .btn {
  outline: none;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.flex-buttons a {
  color: #fff;
}

.flex-buttons .btn1 {
  padding: 10px 40px;
  margin-right: 10px;
  background-color: #09bead;
  box-shadow: 0px 16px 29px #0bbead69;
}

.flex-buttons .btn2 {
  padding: 10px 30px;
  margin-left: 10px;
  background-color: #fca738;
  box-shadow: 0px 16px 29px #f57f1769;
}

.img-home-container {
  /* margin: 9% 10% 0 0; */
  margin-right: 10%;
}

.img-home-container img {
  height: 500px;
}

@media screen and (max-width: 800px) {
  .home-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info-home-container h1 {
    font-size: 1.5rem;
  }

  .info-home-container p {
    font-size: 0.8rem;
  }
  .info-home-container {
    text-align: center;
    margin: 50px auto;
    margin-top: 100px;
  }

  .img-home-container img {
    height: 280px;
    margin: 20px auto;
  }
}
