body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  font-size: 35px;
  color: #105652;
}

h3 {
  font-size: 26px;
  color: #105652;
}

.flex {
  display: flex;
}

.align-items {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
